<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>DROPSTER - EARNINGS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div align="center" style="margin-top: 50%" *ngIf="!vehicles">
        <ion-spinner></ion-spinner>
    </div>


    <div *ngIf="vehicles" align="center">
        Total Earnings - NGN{{total}} <br>
        You have {{vehicles.length}} vehicles
    </div>
    <ion-list *ngIf="customer">
        <ion-item *ngFor="let item of vehicles">

            <ion-card>
                <ion-card-content>
                    {{item.model}} - {{item.brand}}<br>
                    {{item.regno}} <br>
                    Earnings - NGN {{item.earnings}}
                </ion-card-content>
            </ion-card>

        </ion-item>
    </ion-list>

</ion-content>
