page-in-progress {

  .gm-style > div:nth-child(2){
    margin-left:-500px !important;
  }

  div.gmnoprint:nth-child(4){
    margin-right:500px !important;
  }

  div.gmnoprint:nth-child(6){
    margin-right:500px !important;
  }

  div.gm-style-cc:nth-child(8) > div:nth-child(2){
    margin-right:500px !important;
  }

  .details{
    padding-top:5px;
    padding: 20px;
    font-size: 16px;
  }

  .details ion-icon{
    font-size: 30px;
    width:30px;
    margin-right:20px;
  }
}
