<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>DROPSTER - IN PROGRESS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

    <div *ngIf="loading" >
        <div align="center" style="margin-top: 50%">
            <ion-spinner></ion-spinner>
        </div>
    </div>

    <div *ngIf="!displayDetails">
        <ion-list *ngIf="deliveries">

            <ion-item *ngFor="let item of deliveries;" (tap)="details(item)">
                <ion-thumbnail item-start>
                    <img *ngIf="item.images.length <= 0" src="assets/images/package.png">
                    <img *ngIf="item.images.length > 0" src="{{item.images[0].url}}">
                </ion-thumbnail>
                <h2>To: {{item.fname}} {{item.sname}}</h2>
                <p style="font-size: 14px;font-weight: 500">Txn ID - #{{item.did}}</p>
                <p *ngIf="item.pickedUpAt">Picked Up on {{item.pickedUpAt}}</p>
                <p *ngIf="item.droppedOffAt">Dropped Off on {{item.droppedOffAt}}</p>
                <p style="color: darkgreen; font-size: 20px;font-weight: 500">NGN{{item.amount}}</p>
                <p>Requested on {{item.created_at}}</p>
                <p>Status: {{item.status}}</p>
                <button ion-button color="primary" item-end>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>

        </ion-list>
    </div>


    <div #map id="map" style="height:50% !important;width:100% !important;"></div>
    <div *ngIf="displayDetails">

        <!-- delivery details -->
        <div *ngIf="delivery">


            <p style="margin:0;padding-top:10px;height: 50px;background-color: white;color:darkgreen;font-weight: 500;font-size: 35px;" align="center">
                NGN{{delivery.amount}}
            </p>
            <div align="center">
                <img *ngIf="customerProvider.customer.role == 'Customer'" src="{{delivery.dropper.customer.image}}" style="border-radius:10px;width:30%;">
                <img *ngIf="customerProvider.customer.role == 'Dropper'" src="{{delivery.customer.image}}" style="border-radius:10px;width:30%;">
            </div>

            <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">

                DROPPER NAME - {{delivery.dropper.customer.fname}} {{delivery.dropper.customer.sname}}
            </p>

            <p class="details" align-self-center>
                <a (tap)="navigate()" ion-button color="primary" block>Navigate</a>
                <span style="font-size: 14px;font-weight: 500">Txn ID - #{{delivery.did}}</span> <br>
                <ion-icon name="user"></ion-icon>REQUESTED BY - {{delivery.customer.fname}} {{delivery.customer.sname}} <br>

                <span (tap)="phoneAction(delivery.customer.phone)">
                    <ion-icon name="call"></ion-icon> {{delivery.customer.phone}} <br>
                </span>

                <ion-icon name="dropbox"></ion-icon>STATUS - {{delivery.status}} <br>
                <ion-icon name="pin"></ion-icon> PICKUP LOCATION -  {{delivery.from}}<br>
                <ion-icon name="pin"></ion-icon> DROPOFF LOCATION - {{delivery.to}} <br>
                <ion-icon name="time"></ion-icon> REQUESTED ON - {{delivery.created_at}} <br>
                <span *ngIf="delivery.pickedUpAt">
                    <ion-icon name="time"></ion-icon>PICKED UP -  {{delivery.pickedUpAt}} <br>
                </span>

                <span *ngIf="delivery.droppedOffAt">
                    <ion-icon name="time"></ion-icon>DROPPED OFF -  {{delivery.droppedOffAt}} <br>
                </span>


                <span *ngIf="delivery.returnedAt">
                    <ion-icon name="time"></ion-icon>RETURNED -  {{delivery.returnedAt}} <br>
                </span>

            </p>

            <!-- requester stuff -->

            <div *ngIf="delivery.deliveryType == 'sender'">

                <p align="center" *ngIf="showPickUp" class="slideDown description">Call sender when your arrive</p>
                <p align="center" *ngIf="showDropOff && !showPickUp" class="slideDown description">Call receiver when your arrive</p>

                <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">

                    SENDER NAME - {{delivery.customer.fname}} {{delivery.customer.sname}}
                </p>

                <p class="details" align-self-center>
                    <span (tap)="phoneAction(delivery.customer.phone)">
                        <ion-icon name="call"></ion-icon> Phone - {{delivery.customer.phone}}
                    </span><br>

                    <span *ngIf="delivery.customer.email">
                        <ion-icon name="mail"></ion-icon> Email -  {{delivery.customer.email}} <br>
                    </span>

                </p>

                <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">
                    RECEIVER NAME - {{delivery.fname}} {{delivery.sname}}
                </p>

                <p class="details" align-self-center>
                    <span (tap)="phoneAction(delivery.phone)">
                        <ion-icon name="call"></ion-icon> Phone - {{delivery.phone}}
                    </span><br>
                    <span *ngIf="delivery.email">
                        <ion-icon name="mail"></ion-icon> Email -  {{delivery.email}} <br>
                    </span>

                </p>


            </div>


            <div *ngIf="delivery.deliveryType == 'receiver'">

                <p *ngIf="showPickUp" class="description">Call sender when your arrive</p>
                <p *ngIf="showDropOff && !showPickUp" class="description">Call receiver when your arrive</p>

                <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">
                    SENDER NAME - {{delivery.fname}} {{delivery.sname}}
                </p>

                <p class="details" align-self-center>
                    <span (tap)="phoneAction(delivery.phone)">
                        <ion-icon name="call"></ion-icon> Phone - {{delivery.phone}}
                    </span><br>

                    <span *ngIf="delivery.email">
                        <ion-icon name="mail"></ion-icon> Email -  {{delivery.email}} <br>
                    </span>

                </p>

                <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">
                    RECEIVER NAME - {{delivery.customer.fname}} {{delivery.customer.sname}}
                </p>

                <p class="details" align-self-center>
                     <span (tap)="phoneAction(delivery.customer.phone)">
                        <ion-icon name="call"></ion-icon> Phone - {{delivery.customer.phone}}
                     </span><br>
                    <span *ngIf="delivery.customer.email">
                    <ion-icon name="mail"></ion-icon> Email -  {{delivery.customer.email}} <br>
                    </span>

                </p>

            </div>

            <div style="float: left;" >
                <img *ngFor="let image of delivery.images"  src="{{image.url}}" style="width:22%;margin:5px;">
            </div>

            <button ion-button round (click)="back()" >Back</button>

            <div *ngIf="customer.role == 'Dropper'">

                <div align="center" *ngIf="clicked">
                    <ion-spinner></ion-spinner>
                </div>

                <div *ngIf="showPayment">
                    <ion-label *ngIf="!clicked" >Payment Method</ion-label>
                    <ion-select *ngIf="!clicked"  [(ngModel)]="paymentMethod">
                        <ion-option value="pos" >Pos</ion-option>
                        <ion-option value="cash" selected >Cash</ion-option>
                    </ion-select>


                    <button ion-button block round *ngIf="clicked" disabled >Please wait</button>
                    <button ion-button block round *ngIf="!clicked" (tap)="paymentCollected(delivery)" >Payment Collected</button>
                </div>

                <button ion-button block round *ngIf="clicked && !showPayment" disabled >Please wait</button>

                <button ion-button block round *ngIf="!clicked && showPickUp" (tap)="pickedUpDelivery(delivery)" block >Item Picked Up</button>
                <button ion-button block round *ngIf="showDropOff && !clicked" (tap)="droppedOffDelivery(delivery)" block >Item Dropped Off</button>
                <button ion-button block round *ngIf="showReturned && !clicked" (tap)="returnedDelivery(delivery)" block >Item Returned</button>

            </div>
        </div>
    </div>

</ion-content>
