<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>DROPSTER - PAYMENTS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="error" style="background-color: red; color: white;" align="center" class="slideDown description">{{error}}</div>
    <div *ngIf="message" style="background-color: green; color: white;" align="center" class="slideDown description">{{message}}</div>

    <ion-card>
        <div align="center">
            <h1 style="color:green;">₦ {{customerProvider.customer.balance}}</h1>
            <p>Current Balance</p>
        </div>
    </ion-card>


    <ion-list *ngIf="displayPayments">

        <div *ngIf="payments && payments.length == 0">
            <p align="center" style="padding-top:45%;color:grey">You haven't made any payment yet.
                <br>Click the "+" button to pay!</p>
        </div>

        <div align="center" style="margin-top: 50%" *ngIf="!payments">
            <ion-spinner></ion-spinner>
        </div>

        <ion-item *ngFor="let item of payments">
            <ion-icon style="font-size:50px;color: green; float: left" name="add"></ion-icon>


            <div align="right">
                <h3 style="font-weight: 700">₦ {{item.amount}}</h3>
                <span style="text-transform: capitalize">{{item.method}}</span> <br>
                <span>{{item.created_at}}</span>
            </div>
        </ion-item>

    </ion-list>

    <div *ngIf="displayAddFunds">
        <ion-list>

        <ion-item>
            <ion-label>Payment Method</ion-label>
            <ion-select [(ngModel)]="paymentMethod">
                <ion-option value="card" selected >Card</ion-option>
                <ion-option value="coupon" >Coupon</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="paymentMethod == 'card'" >
            <ion-label floating>Amount</ion-label>
            <ion-input type="number" [(ngModel)]="amount"  ></ion-input>
        </ion-item>

        <ion-item *ngIf="paymentMethod == 'coupon'" >
            <ion-label floating>Coupon</ion-label>
            <ion-input type="text" [(ngModel)]="couponCode"  ></ion-input>
        </ion-item>

        <ion-item>
            <div align="center">
                <ion-spinner *ngIf="clicked"></ion-spinner>
            </div>
            <button *ngIf="!clicked" (tap)="addFunds()" ion-button block >Pay</button>
            <button *ngIf="clicked" ion-button block disabled >Please wait</button>
        </ion-item>
        </ion-list>

    </div>

    <div id="paystackEmbedContainer"></div>


    <ion-fab right bottom>
        <button (tap)="toggleAddFunds()" ion-fab>+</button>
    </ion-fab>
</ion-content>