<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p align="center" class="error" *ngIf="error">{{error}}</p>

    <div *ngIf="add">
        <ion-list>
            <ion-item>
                <ion-label floating>Firstname</ion-label>
                <ion-input [(ngModel)]="fname" type="text"  ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Surname</ion-label>
                <ion-input [(ngModel)]="sname" type="text" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Phone</ion-label>
                <ion-input [(ngModel)]="phone" type="text" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input [(ngModel)]="email" type="text" ></ion-input>
            </ion-item>

            <ion-item>
                <div align="center" *ngIf="clicked">
                    <ion-spinner></ion-spinner>
                </div>

                <button ion-button color="primary" *ngIf="clicked && isEdit" block disabled>Saving</button>
                <button ion-button color="primary" *ngIf="!clicked && isEdit" block (tap)="editContact()">Save Edit</button>

                <button ion-button color="primary" *ngIf="clicked && !isEdit" block disabled>Saving</button>
                <button ion-button color="primary" *ngIf="!clicked && !isEdit" block (tap)="saveContact()">Save</button>
                <button ion-button style="background: red;" block (tap)="switch()">Cancel</button>
            </ion-item>

        </ion-list>

    </div>

    <div>
        <button ion-button color="primary" (tap)="switch()" block>Add Contact</button>
        <p>Your Contacts</p>

        <div align="center" *ngIf="loading">
            <ion-spinner></ion-spinner>
        </div>

        <ion-list>
            <ion-item *ngFor="let contact of contacts" (press)="presentActionSheet(contact)" (tap)="selectContact(contact)">
                {{contact.fname}} - {{contact.phone}}
            </ion-item>
        </ion-list>
    </div>


</ion-content>
