<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>New Delivery</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <div *ngIf="stepOne">
        <p class="error" *ngIf="error">{{error}}</p>
        <ion-list>

            <ion-item>
                <ion-label floating>Pickup Location</ion-label>
                <ion-input type="text" [(ngModel)]="pickUpName" (ionChange)="getPrice()" (ionFocus)="getLocation('PickUp')" ></ion-input>
            </ion-item>

            <ion-item>
                <span style="color:red" *ngIf="dropOffError">{{dropOffError}}</span>
                <ion-label floating>Drop-off Location</ion-label>
                <ion-input type="text" [(ngModel)]="dropOffName" (ionChange)="getPrice()" (ionFocus)="getLocation('DropOff')" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>What type of vehicle?</ion-label>
                <ion-select [(ngModel)]="vcid" (ionChange)="getPrice()">
                    <ion-option value="1" [selected]="vcid == 1">Bike</ion-option>
                    <ion-option value="2" [selected]="vcid == 2">Car</ion-option>
                </ion-select>

            </ion-item>

            <ion-item>
                <ion-label>What kind of delivery?</ion-label>
                <ion-select [(ngModel)]="deliveryType">
                    <ion-option value="" disabled selected>Choose</ion-option>
                    <ion-option value="sender" [selected]="deliveryType == 'sender' " >I'm sending the item</ion-option>
                    <ion-option value="receiver" [selected]="deliveryType == 'receiver' ">I'm to receive the item</ion-option>
                    <ion-option value="third" [selected]="deliveryType == 'third' ">I'm requesting for a friend</ion-option>
                    <ion-option value="return" [selected]="deliveryType == 'return' ">Return request (two-way)</ion-option>
                </ion-select>
            </ion-item>

            <p *ngIf="deliveryType == 'sender'" align="center" class="slideDown description">
                This is for when you need something picked from you and sent to someone.
            </p>

            <p *ngIf="deliveryType == 'receiver'" align="center" class="slideDown description">
                This is for when you just need something picked from someone and brought to you.
                Eg. when you forget an item somewhere.
            </p>

            <p *ngIf="deliveryType == 'third'" align="center" class="slideDown description">
                This is for when you need something picked from a friend and taken to someone else.
            </p>

            <p *ngIf="deliveryType == 'return'" align="center" class="slideDown description">
                This is for when you need the dropper to meet you, go somewhere, then return to you.
                Useful for when you want to sign documents, or purchase food from a restaurant.
            </p>

            <div align="center" *ngIf="!price && pickUpName && dropOffName">
                <ion-spinner></ion-spinner>
            </div>
            <p *ngIf="price" style="color:darkgreen;font-size: 20px" align="center">NGN {{price}}</p>


            <ion-item>
                <!--<ion-label><b>Instructions</b></ion-label><br>-->
                <ion-textarea placeholder="Instructions" [(ngModel)]="description"></ion-textarea>
            </ion-item>


            <div *ngIf="deliveryType == 'sender' || deliveryType == 'third' || deliveryType == 'return' ">

                <ion-item>
                    <ion-label floating>Recipient First Name
                        <span style="color:red" *ngIf="firstnameError">{{firstnameError}}</span>
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="firstname" ></ion-input>

                </ion-item>

                <ion-item>
                    <button ion-button block (tap)="addContact()" color="primary">
                        Add from Contacts
                     </button>

                </ion-item>

                <ion-item>
                    <ion-label floating>Recipient Surname (Optional)</ion-label>
                    <ion-input type="text" [(ngModel)]="surname"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Recipient Email (Optional)</ion-label>
                    <ion-input type="text" [(ngModel)]="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Recipient Phone
                        <span style="color:red" *ngIf="phoneError">{{phoneError}}</span></ion-label>
                    <ion-input type="text" [(ngModel)]="phone"></ion-input>
                </ion-item>
            </div>


        </ion-list>

        <button block ion-button icon-left (click)="nextStep()">
            Next
            <ion-icon name="arrow-forward" ></ion-icon>
        </button>

    </div>

    <div *ngIf="stepTwo">

        <button block ion-button icon-left (click)="previousStep()">
            <ion-icon name="arrow-back" ></ion-icon>
            Previous
        </button>

        <p class="error" *ngIf="error">{{error}}</p>

        <ion-list>

            <div *ngIf="deliveryType == 'receiver' || deliveryType == 'third'">

                <ion-item>
                    <ion-label floating>Sender's First Name
                        <span style="color:red" *ngIf="firstnameError">{{firstnameError}}</span>
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="firstname" ></ion-input>
                </ion-item>

                <ion-item>
                    <button ion-button block (tap)="addContact()" color="primary">
                        Add from Contacts
                    </button>

                </ion-item>

                <ion-item>
                    <ion-label floating>Sender's Surname (Optional)</ion-label>
                    <ion-input type="text" [(ngModel)]="surname"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Sender's Email (Optional)</ion-label>
                    <ion-input type="text" [(ngModel)]="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Sender's Phone
                        <span style="color:red" *ngIf="phoneError">{{phoneError}}</span></ion-label>
                    <ion-input type="text" [(ngModel)]="phone"></ion-input>
                </ion-item>
            </div>

            <ion-item>
                <span style="color:red" *ngIf="categoryError">{{categoryError}}</span>
                <ion-label>Item Category</ion-label>

                <ion-select>
                    <ion-option value="" disabled selected>Choose</ion-option>
                    <ion-option *ngFor="let item of deliveryItems" [selected]="i" (ionSelect)="categorySelected(item)" >{{item.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="itemCategory">

                <ion-label>Item Type
                    <span style="color:red" *ngIf="itemError">{{itemError}}</span>
                </ion-label>

                <ion-select [(ngModel)]="itemType">
                    <ion-option value="" disabled selected>Choose</ion-option>
                    <ion-option *ngFor="let item of itemCategory"  value="{{item.ditid}}">{{item.name}}</ion-option>

                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Payment Method</ion-label>
                <ion-select [(ngModel)]="paymentMethod">
                    <!--<ion-option value="pos"  >POS</ion-option>-->
                    <ion-option value="cash">Cash</ion-option>
                    <ion-option value="balance" >Balance</ion-option>

                </ion-select>
            </ion-item>

            <ion-item *ngIf="paymentMethod == 'balance'">
                Your Balance is:
                <span style="color:darkgreen; font-size: 20px; font-weight: 500">₦{{customerProvider.customer.balance}}</span>

            </ion-item>

        </ion-list>

        <button *ngIf="showPhoto" block ion-button icon-left (click)="photoAction()">
            <ion-icon name="camera" ></ion-icon>
            Photos
        </button>
        <p *ngIf="itemType != undefined && showPhoto" align="center" class="slideDown description">
         Photos are optional, but showing us what you want to send would make us more efficient in delivering the item.
        </p>


        <ion-slides style="height: 300px !important; max-height: 300px;" *ngIf="images.length > 0">

            <ion-slide *ngFor="let image of images; let i = index" style="background-color: transparent;height: 300px; !important;">
                <ion-card align="center" (press)="deleteImage(i)">
                    <img src="{{image}}" style="max-height:300px;"/>
                </ion-card>
            </ion-slide>


        </ion-slides>


        <div align="center" *ngIf="!price && pickUpName && dropOffName">
            <ion-spinner></ion-spinner>
        </div>
        <p *ngIf="price" style="color:darkgreen;font-size: 20px" align="center">NGN {{price}}</p>

        <button block ion-button color="primary" (click)="request()">Request</button>
        <p align="center" class="slideDown description">
            Cancellations are free. But you would be charged NGN100 if you cancel 5 mins after the delivery has been accepted.
        </p>

        <!--<button block ion-button color="primary" (click)="addToFavorites()">Add to Favorites</button>-->

    </div>

    <!--<button block ion-button icon-left (click)="showRequests()">-->
        <!--<ion-icon name="heart" ></ion-icon>-->
        <!--Favorites-->
    <!--</button>-->


</ion-content>
