<!--
  Generated template for the DeliveryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>DROPSTER - DELIVERY DETAILS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


    <!-- start in progress view -->
    <div *ngIf="isInProgress" #map id="map" style="height:50% !important;width:100% !important;"></div>

    <div *ngIf="isInProgress">
        <p style="margin:0;padding-top:10px;height: 50px;background-color: white;color:darkgreen;font-weight: 500;font-size: 35px;" align="center">
            NGN{{delivery.amount}}
        </p>
        <div align="center">
            <img src="{{delivery.dropper.customer.image}}" style="border-radius:10px;width:30%;">
        </div>


        <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center" *ngIf="delivery.dropper">
            DROPPER NAME - {{delivery.dropper.customer.fname}} {{delivery.dropper.customer.sname}}
        </p>

        <p class="details" align-self-center>
            <span *ngIf="delivery.dropper" (tap)="phoneAction(delivery.dropper.customer.phone)">
               <ion-icon name="call"></ion-icon> {{delivery.dropper.customer.phone}} <br>
            </span>

            <span style="font-size: 14px;font-weight: 500">Txn ID - #{{delivery.did}}</span> <br>
            <ion-icon name="pin"></ion-icon> Pickup Location -  {{delivery.from}} <br>
            <ion-icon name="pin"></ion-icon> Dropoff Location - {{delivery.to}} <br>
            <ion-icon name="time"></ion-icon> REQUESTED - {{delivery.created_at}} <br>
            <ion-icon name="dropbox"></ion-icon>STATUS - {{delivery.status}} <br>
            <ion-icon name="time"></ion-icon>PICKED UP -  {{delivery.pickedUpAt}} <br>
            <ion-icon name="time"></ion-icon>DROPPED OFF -  {{delivery.droppedOffAt}} <br>
            <ion-icon name="time"></ion-icon>RETURNED -  {{delivery.returnedAt}} <br>

        </p>

        <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">

            RECEIVER NAME - {{delivery.fname}} {{delivery.sname}}
        </p>

        <p class="details" align-self-center>
            <ion-icon name="call"></ion-icon> Phone - {{delivery.phone}} <br>
            <ion-icon name="mail"></ion-icon> Email -  {{delivery.email}} <br>
        </p>

        <div style="float: left;" *ngIf="delivery.images.length > 0">

            <img *ngFor="let item of delivery.images" src="{{item.url}}" style="width:auto; max-width: 200px; height:200px; margin:5px;">
        </div>

        <div align="center" *ngIf="clicked">
            <ion-spinner></ion-spinner>
        </div>

        <button ion-button block round *ngIf="clicked" disabled >Please wait</button>

        <button ion-button round *ngIf="showCompletionButton && !clicked" style="background-color: green" (tap)="completeDelivery(delivery)" block >Complete Delivery</button>
        <button ion-button round *ngIf="showIssueButton && !clicked" style="background-color: red" (tap)="issueDelivery(delivery)" block >Issue</button>
        <button ion-button round *ngIf="delivery.status == 'Issue'" (tap)="support()" block >Chat with Support</button>
        <button ion-button round style="background-color: red" *ngIf="delivery.pickedUpAt === null || delivery.pickedUpAt == 'undefined'" (tap)="presentConfirmation(delivery)" [disabled]="clicked" block >Cancel Delivery</button>
    </div>

    <!-- end in progress view -->

    <div *ngIf="!isInProgress">
        <ion-slides *ngIf="delivery.images.length > 0" style="margin:0;margin-top:-20px; height: 300px !important; max-height: 300px;">
            <ion-slide *ngFor="let item of delivery.images">
                <img src="{{item.url}}">
            </ion-slide>

        </ion-slides>
        <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" *ngIf="delivery.status == 'Complete'" align="center">
            DELIVERED TO - {{delivery.fname}} {{delivery.sname}}
        </p>

        <p style="height: 50px;background-color: saddlebrown;color:white;font-weight: 500;font-size: 20px;" *ngIf="delivery.status == 'Cancelled'" align="center">
            Cancelled
        </p>

        <p class="details" align-self-center>
            <ion-icon name="call"></ion-icon> Phone - {{delivery.phone}} <br>
            <ion-icon name="mail"></ion-icon> Email -  {{delivery.email}} <br>
        </p>

        <p class="details" align-self-center>
            <span style="font-size: 14px;font-weight: 500">Txn ID - #{{delivery.did}}</span> <br>
            <ion-icon name="dropbox"></ion-icon>STATUS - {{delivery.status}} <br>
            <ion-icon name="time"></ion-icon>DISPATCHED -  {{delivery.pickedUpAt}} <br>
            <ion-icon name="time"></ion-icon>ARRIVED -  {{delivery.droppedOffAt}} <br>
            <ion-icon name="pin"></ion-icon> PICKUP LOCATION -  {{delivery.from}} <br>
            <ion-icon name="pin"></ion-icon> DROPOFF LOCATION - {{delivery.to}} <br>
            <ion-icon name="time"></ion-icon> REQUESTED ON - {{delivery.created_at}} <br>
        </p>


        <p style="margin:0;padding-top:10px;height: 50px;background-color: white;color:darkgreen;font-weight: 500;font-size: 35px;" align="center">
            NGN{{delivery.amount}}
        </p>

        <div *ngIf="delivery.dropper">
            <div align="center" >
                <img src="{{delivery.dropper.customer.image}}" style="border-radius:10px;width:30%;">
            </div>

            <p style="height: 50px;background-color: #500D7E;color:white;font-weight: 500;font-size: 20px;" align="center">

                DROPPED BY - {{delivery.dropper.customer.fname}} {{delivery.dropper.customer.sname}}
            </p>

            <p class="details" align-self-center>
                Dropper Phone - {{delivery.dropper.customer.phone}} <br>
                Vehicle Brand -  {{delivery.dropper.vehicle.brand}} <br>
                Vehicle Model -  {{delivery.dropper.vehicle.model}} <br>
                Vehicle Reg No. -  {{delivery.dropper.vehicle.regno}} <br>
                Vehicle Color -  {{delivery.dropper.vehicle.color}} <br>

            </p>

        </div>

        <div style="float: left;" *ngIf="delivery.images.length > 0">

            <img *ngFor="let item of delivery.images" src="{{item.url}}" style="width:auto; max-width: 200px; height:200px; margin:5px;">
        </div>

        <div align="center" *ngIf="clicked">
            <ion-spinner></ion-spinner>
        </div>

        <button ion-button block round *ngIf="clicked" disabled >Please wait</button>

        <button ion-button round *ngIf="showCompletionButton && !clicked" style="background-color: green" (tap)="completeDelivery(delivery)" block >Complete Delivery</button>
        <button ion-button round *ngIf="showIssueButton && !clicked" style="background-color: red" (tap)="issueDelivery(delivery)" block >Issue</button>
        <button ion-button round *ngIf="delivery.status == 'Issue'" (tap)="support()" block >Chat with Support</button>


    </div>

</ion-content>
