page-dashboard {

  .dash-col{
    background-color: white;
    color:#500D7E;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-align: center;
    padding: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,1);
    box-shadow: 0px 0px 10px 0px rgba(51,51,51,1);
  }

  ion-icon{
    font-size: 40px;
  }
}
