<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col class="dash-col" col-5 (click)="support()">
                <ion-icon name="mail"></ion-icon>
                <h4>SUPPORT</h4>
            </ion-col>
            <ion-col class="dash-col" col-5 offset-2  (click)="deliveries()">
                <ion-icon name="logo-dropbox"></ion-icon>
                <h4>TRACK ORDER</h4>
            </ion-col>
        </ion-row>

    </ion-grid>
    <div><br><br></div>
    <ion-grid>
        <ion-row>
            <ion-col class="dash-col" col-5  (tap)="paymentsPage()" >
                <ion-icon name="card"></ion-icon>
                <h4>ORDER HISTORY</h4>
            </ion-col>
            <ion-col class="dash-col" col-5 offset-2 (tap)="affiliatePage()">
                <ion-icon name="people"></ion-icon>
                <h4>MAKE ORDER</h4>
            </ion-col>
        </ion-row>

    </ion-grid>
    <div><br><br></div>
    <ion-grid>
        <ion-row>
            <ion-col class="dash-col" col-5 (tap)="profilePage()">
                <ion-icon name="person"></ion-icon>
                <h4>PROFILE</h4>
            </ion-col>
            <ion-col class="dash-col" col-5 offset-2 (tap)="settingsPage()">
                <ion-icon name="settings"></ion-icon>
                <h4>SETTINGS</h4>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-grid *ngIf="customerProvider.showVpMenu">
        <div><br><br></div>
        <ion-row>
            <ion-col class="dash-col" col-5 (tap)="earningsPage()">
                <ion-icon name="cash"></ion-icon>
                <h4>EARNINGS</h4>
            </ion-col>
            <ion-col class="dash-col" col-5 offset-2 (tap)="withdrawalsPage()">
                <ion-icon name="swap"></ion-icon>
                <h4>WITHDRAWALS</h4>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-grid *ngIf="customerProvider.showDropperMenu">
        <div><br><br></div>
        <ion-row>
            <ion-col class="dash-col" col-5 (click)="availableRequestsPage()">
                <ion-icon name="cube"></ion-icon>
                <h4>AVAILABLE</h4>
            </ion-col>
            <ion-col class="dash-col" col-5 offset-2 (tap)="inProgressPage()">
                <ion-icon name="list-box"></ion-icon>
                <h4>IN PROGRESS</h4>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-fab right bottom>
        <button (tap)="newDeliveryPage()" ion-fab>+</button>
    </ion-fab>

</ion-content>
