
<ion-content padding >

    <div align="center" (tap)="goToHome()">
        <img src="assets/images/logo.jpg" style="height:150px; width:auto;">
    </div>

    <ion-grid padding *ngIf="showVerifyCode">
        <ion-row>
            <ion-col col-12 >
                <div align="center" *ngIf="error" class="error">{{error}}</div>
                <div align="center" *ngIf="message" class="success">{{message}}</div>

                <ion-list>

                    <ion-item>
                        <ion-label floating>Code</ion-label>
                        <ion-input type="text" [(ngModel)]="code"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" (keypress)="verifyCodeEP($event.keyCode)" [(ngModel)]="confirmNewPassword"></ion-input>
                    </ion-item>


                </ion-list>
            </ion-col>

            <ion-row>
                <ion-col col-12>

                    <div align="center" *ngIf="clicked">
                        <ion-spinner ></ion-spinner>
                    </div>

                    <button ion-button block round *ngIf="clicked" disabled>Please wait..</button>
                    <button ion-button block round *ngIf="!clicked" (tap)="verifyCode()">Change Password</button>
                </ion-col>
            </ion-row>

        </ion-row>

    </ion-grid>


    <ion-grid padding *ngIf="showforgotPassword">
        <ion-row>
            <ion-col col-12 >
                <div align="center" *ngIf="error" class="error">{{error}}</div>
                <div align="center" *ngIf="success" class="success">{{message}}</div>

                <ion-list>

                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" (keypress)="forgotPasswordEP($event.keyCode)" [(ngModel)]="email"></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
            <ion-col col-12>

                <div align="center" *ngIf="clicked">
                    <ion-spinner ></ion-spinner>
                </div>

                <button ion-button block round *ngIf="clicked" disabled>Sending Code</button>
                <button ion-button block round *ngIf="!clicked" (tap)="forgotPassword()">Send Reset Code</button>
                <button ion-button block round *ngIf="!clicked" color="danger" (tap)="cancel()">Cancel</button>
            </ion-col>

        </ion-row>

    </ion-grid>

    <ion-grid padding *ngIf="showSignIn">
        <ion-row>
            <ion-col col-12 >
                <div align="center" *ngIf="error" class="error">{{error}}</div>
                <div align="center" *ngIf="success" class="success">{{success}}</div>
                <div align="center" *ngIf="message" class="success">{{message}}</div>

                <ion-list>

                    <ion-item>
                        <ion-label floating>Phone or Email</ion-label>
                        <ion-input type="text" [(ngModel)]="username"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" (keypress)="buttonPressed($event.keyCode)" [(ngModel)]="password"></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-8  >
                <ion-list>

                    <ion-item>
                        <ion-toggle style="margin-right: 40px; padding-left: 0;padding-right: 0;" [(ngModel)]="rememberMe" ></ion-toggle>
                        <ion-label style="font-size: 10px">Remember Me</ion-label>
                    </ion-item>

                </ion-list>
            </ion-col>
            <ion-col col-4 >
                <ion-note style="line-height:40px;font-size: 10px"><a (tap)="forgotPassword()">Forgot password?</a></ion-note>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <div align="center" *ngIf="clicked">
                    <ion-spinner ></ion-spinner>
                </div>
                <button ion-button block round *ngIf="clicked" disabled>Signing you in</button>
                <button ion-button block round *ngIf="!clicked" (click)="signIn()">Sign In</button>
            </ion-col>
        </ion-row>

        <ion-col col-12>
            <div align="center"><ion-note>Don't have an account?</ion-note></div>
            <div align="center" ><a (click)="signUp()">Sign Up Now</a></div>
        </ion-col>

        <ion-col col-6 offset-2 style="bottom: 0;position: fixed;">
            <div align="center"><ion-note>Having issues?</ion-note></div>
            <div align="center" ><a (click)="support()">Chat with us</a></div>
        </ion-col>

    </ion-grid>





</ion-content>
