<!--
  Generated template for the AvailableRequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>DROPSTER - Available Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="loadingPage">
        <div align="center" style="margin-top: 50%">
            <ion-spinner></ion-spinner>
        </div>

    </div>
    <div *ngIf="!loadingPage && availableDeliveries.length <= 0 ">
        <p align="center" style="padding-top:45%;color:grey">Nothing here for now. Check again soon!</p>
    </div>

    <ion-card *ngFor="let item of availableDeliveries" style="color:white !important; background-image: url('assets/images/statistic-box-purple.png')">
        <!--<img src="assets/images/statistic-box-purple.png"/>-->
        <ion-card-content>
            <ion-card-header>
                <span style="float:left;color:lawngreen;font-size: 18px"><b>NGN{{item.amount}}</b></span>
                <span style="float:right;color: white;">&nbsp;{{item.items.name}}</span>
                <span style="float:right;color: white;">{{item.vehicle_category.name}} &nbsp;|</span><br>
                <span class="note-md" style="float:right;font-size: 12px">{{item.created_at}}</span>
            </ion-card-header>
            <div style="padding: 10px">
                <b>From:</b>
                <p style="color: white;" *ngIf="item.from != 'Your current location'">{{item.from}}</p>
                <p style="color: white;" *ngIf="item.from == 'Your current location'">Customer's current location</p>
                <b>To:</b> <p style="color: white;">{{item.to}}</p>

                <button ion-button style="float: right;" color="light" *ngIf="loading && itemLoading == item"><ion-spinner></ion-spinner></button>
                <button ion-button style="float: right;" color="primary" *ngIf="!loading" (tap)="acceptDelivery(item)">Accept</button>

            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
