<ion-header>  
	<ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>         
		<ion-title>Places Autocomplete</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
    <div id="map"></div>
    <ion-list>
        <ion-item margin>
            <ion-input type="text" placeholder="Pick an address"
                (ionFocus)="showModal()"
                [(ngModel)]="address.place">
            </ion-input>
        </ion-item>
        <div align="center">
            <ion-spinner *ngIf="address.set!=true"></ion-spinner>
        </div>

        <ion-item *ngIf="address.set==true">
            <ion-icon name="pin" item-left></ion-icon>
            <h3>Full text address</h3>
            <p>{{ placedetails.address }}</p>
            <h3>Street name</h3>
            <p>{{ placedetails.components.route.long }}</p>
            <h3>Street number</h3>
            <p>{{ placedetails.components.street_number.long }}</p>
            <h3>Neighbourhood</h3>
            <p>{{ placedetails.components.sublocality_level_1.long }}</p>
            <h3>Postal Code</h3>
            <p>{{ placedetails.components.postal_code.long }}{{ placedetails.components.postal_code_suffix.long }}</p>    
            <h3>City</h3>
            <p>{{ placedetails.components.locality.long }}</p>     
            <h3>Location geometry</h3>
            <p>{{ placedetails.lat }}, {{ placedetails.lng }}</p>                                           
        </ion-item>
    </ion-list>


    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address" ></span> <br>
        <button ion-button block round (tap)="confirm()" >Confirm Location</button>
    </div>

</ion-content>