<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Your Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

    <p *ngIf="error" style="background-color: red;color:white" align="center" class="slideDown description">{{error}}</p>
    <p *ngIf="message" style="background-color: green;color:white" align="center" class="slideDown description">{{message}}</p>
    <!-- display profile details -->

    <div *ngIf="showProfile">
        <div *ngIf="customer">
            <div align="center">
                <div align="center" style="padding-top: 10%" *ngIf="!loaded">
                    <ion-spinner></ion-spinner>
                </div>

                <div align="center"  *ngIf="photoLoading">
                    <ion-spinner></ion-spinner>
                </div>
                <img (tap)="photoAction()" (load)="loaded = true" src="{{customerProvider.customer.image}}"
                     style="width:auto;border-radius: 30px; height: 200px;"/>
            </div>

            <ion-card>
                <ion-card-header>
                    <p align="center">
                        {{customerProvider.customer.fname}} {{customerProvider.customer.sname}}
                    </p>
                </ion-card-header>

                <ion-list>
                    <button ion-item>
                        <ion-icon name="person" item-start></ion-icon>
                        Username: {{customerProvider.customer.username}}
                    </button>

                    <button ion-item>
                        <ion-icon name="call" item-start></ion-icon>
                        Phone:
                        {{customerProvider.customer.phone}}
                    </button>

                    <button ion-item>
                        <ion-icon name="mail" item-start></ion-icon>
                        Email: {{customerProvider.customer.email}}
                    </button>

                    <button ion-item>
                        <ion-icon name="contacts" item-start></ion-icon>
                        Gender: {{customerProvider.customer.gender}}
                    </button>


                    <button ion-item (tap)="shareCode()">
                        <ion-icon name="link" item-start></ion-icon>
                        Ref Code: {{customerProvider.customer.referralCode}}
                    </button>

                    <button ion-item *ngIf="customerProvider.showVpMenu">
                        <ion-icon name="link" item-start></ion-icon>
                        Account Name: {{customerProvider.customer.accountName}}
                    </button>

                    <button ion-item *ngIf="customerProvider.showVpMenu">
                        <ion-icon name="link" item-start></ion-icon>
                        Account Number: {{customerProvider.customer.accountNumber}}
                    </button>

                    <button ion-item *ngIf="customerProvider.showVpMenu">
                        <ion-icon name="link" item-start></ion-icon>
                        Bank: {{customerProvider.customer.accountBank}}
                    </button>

                    <button ion-item >
                        Balance:
                        <span style="color:darkgreen; font-size: 20px; font-weight: 500">₵{{customerProvider.customer.balance}}</span>
                    </button>

                </ion-list>
            </ion-card>

            <div padding>
                <button ion-button block color="primary" (tap)="editProfile()">Edit Profile</button>
                <button ion-button block color="primary" (tap)="changePassword()">Change Password</button>
                <button *ngIf="customerProvider.showVpMenu" ion-button block color="primary" (tap)="editAccountDetails()">Change Account Details</button>
            </div>


        </div> <!-- end profile display -->


    </div>

    <!-- display editing form -->

    <div *ngIf="editing">
        <ion-item >
            <ion-label stacked>Username</ion-label>
            <ion-input [(ngModel)]="username"  placeholder="Enter your username" type="text"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label stacked>Firstname</ion-label>
            <ion-input [(ngModel)]="fname" placeholder="Enter your firstname" type="text"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label stacked>Surname</ion-label>
            <ion-input [(ngModel)]="sname" placeholder="Enter your surname" type="text"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>Email</ion-label>
            <ion-input [(ngModel)]="email" placeholder="Enter your email" type="email"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>Phone</ion-label>
            <ion-input [(ngModel)]="phone" placeholder="Enter your phone number" type="text" pattern="[+]{0,1}[0-9]+"></ion-input>
        </ion-item>


        <ion-item>
            <div align="center">
                <ion-spinner *ngIf="loading"></ion-spinner>
            </div>
            <button ion-button block color="primary" *ngIf="loading" disabled>Saving</button>
            <button ion-button block color="primary" *ngIf="!loading" (tap)="updateProfile()">Save</button>
            <button ion-button block color="danger" (tap)="back()">Cancel</button>
        </ion-item>
    </div>

    <!-- edit bank account form -->
    <div *ngIf="customerProvider.showVpMenu">

        <div *ngIf="editingAccount">
            <ion-item>
                <ion-label>Bank</ion-label>
                <ion-select [(ngModel)]="bankCode">
                    <ion-option value="044" selected>Access Bank</ion-option>
                    <ion-option value="023">Citibank Nigeria</ion-option>
                    <ion-option value="063">Diamond Bank</ion-option>
                    <ion-option value="050">Ecobank Nigeria</ion-option>
                    <ion-option value="084">Enterprise Bank</ion-option>
                    <ion-option value="070">Fidelity Bank</ion-option>
                    <ion-option value="011">First Bank of Nigeria</ion-option>
                    <ion-option value="214">First City Monument Bank</ion-option>
                    <ion-option value="058">Guaranty Trust Bank</ion-option>
                    <ion-option value="030">Heritage Bank</ion-option>
                    <ion-option value="082">Keystone Bank</ion-option>
                    <ion-option value="014">MainStreet Bank</ion-option>
                    <ion-option value="076">Skye Bank</ion-option>
                    <ion-option value="221">Stanbic IBTC Bank</ion-option>
                    <ion-option value="068">Standard Chartered Bank</ion-option>
                    <ion-option value="232">Sterling Bank</ion-option>
                    <ion-option value="032">Union Bank of Nigeria</ion-option>
                    <ion-option value="033">United Bank For Africa</ion-option>
                    <ion-option value="215">Unity Bank</ion-option>
                    <ion-option value="035">Wema Bank</ion-option>
                    <ion-option value="057">Zenith Bank</ion-option>
                </ion-select>
            </ion-item>


            <ion-item >
                <ion-label stacked>Account Number</ion-label>
                <ion-input [(ngModel)]="accountNumber" (ionBlur)="getBankAccountName()"  placeholder="Enter your account number" type="text" pattern="[0-9]+"></ion-input>
            </ion-item>

            <ion-item >
                <ion-label stacked>Account Name</ion-label>
                <ion-input [(ngModel)]="accountName"  placeholder="Enter your account name" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button block color="primary" *ngIf="loading" >Saving</button>
                <button ion-button block color="primary" *ngIf="!loading" (tap)="updateBankDetails()">Save</button>
                <button ion-button block color="danger" (tap)="back()">Cancel</button>
            </ion-item>
        </div>

    </div>

    <!-- password change form -->

    <div *ngIf="showPasswordChange">
        <ion-item >
            <ion-label stacked>Current Password</ion-label>
            <ion-input [(ngModel)]="password"  placeholder="Enter your current password" type="password"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>New Password</ion-label>
            <ion-input [(ngModel)]="newPassword"  placeholder="Enter your new password" type="password"></ion-input>
        </ion-item>

        <ion-item >
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword"  placeholder="Enter your new password again" type="password"></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button block color="primary" (tap)="updatePassword()">Save</button>
            <button ion-button block color="danger" (tap)="back()">Cancel</button>
        </ion-item>


    </div>
</ion-content>
