
<ion-content padding  >


    <div align="center" style="margin-top:100px;">
        <!-- <img src="assets/images/logo.jpg" style="height:150px; width:auto;"> -->
        <h5 style="color:#500D7E;">Sylvia Laundry</h5>
    </div>

    <p class="error" *ngIf="error">{{error}}</p>
    <p class="success" *ngIf="message">{{message}}</p>

    <ion-grid padding *ngIf="!showPhone && !showCode">
      <ion-row>
        <ion-col col-10 offset-1>
          <button ion-button block round  outline (tap)="email(item)">Sign In with Email</button>
        </ion-col>
      </ion-row>
      <ion-row>

          <!--<ion-col col-5 offset-1>-->
              <!--<button ion-button block (tap)="facebookSignIn()" style="background-color: #3B5999;text-transform: capitalize">-->
                  <!--<ion-icon name="logo-facebook"></ion-icon>-->
              <!--</button>-->

          <!--</ion-col>-->
        <!--<ion-col col-5>-->
          <!--<button ion-button block (tap)="facebookSignIn()" style="background-color: #3B5999;text-transform: capitalize">-->
              <!--Sign In With Facebook-->
          <!--</button>-->
          <!--</ion-col>-->
          <!--<ion-col col-5>-->
          <!--<button ion-button block round style="background-color: #E04A32;text-transform: capitalize">Google+</button>-->
          <!--</ion-col>-->
      </ion-row>

      <ion-row>

          <ion-col col-10 offset-1>
            <button ion-button block (tap)="signUp()" round>Sign Up</button>
          </ion-col>

      </ion-row>

    </ion-grid>

    <ion-fab center bottom="">
        <button ion-fab color="light"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button (tap)="facebookSignIn()" style="background-color: #3B5999;color:#ffffff" ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <!--<button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>-->
            <!--<button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>-->
            <!--<button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>-->
        </ion-fab-list>
    </ion-fab>


    <ion-list padding *ngIf="showPhone">

        <p *ngIf="customer">Welcome {{customer.fname}}!</p>
        <ion-item >
            <ion-label stacked>Phone Number</ion-label>
            <ion-input [(ngModel)]="phone" placeholder="Enter your phone number" type="text"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col col-12>
                <div align="center" *ngIf="loading">
                    <ion-spinner ></ion-spinner>
                </div>
                <button ion-button block round *ngIf="loading" disabled >{{verifyText}}</button>
                <button ion-button block round *ngIf="!loading" (tap)="verifyPhone()" >{{verifyText}}</button>
            </ion-col>
        </ion-row>

    </ion-list>

    <ion-list padding *ngIf="showCode">

        <p *ngIf="customer">Welcome {{customer.fname}}!</p>
        <ion-item >
            <ion-label stacked>Verification Code</ion-label>
            <ion-input [(ngModel)]="code" placeholder="Enter your verification code" type="text"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col col-12>
                <div align="center" *ngIf="loading">
                    <ion-spinner ></ion-spinner>
                </div>
                <button ion-button block round *ngIf="loading" disabled >{{verifyText}}</button>
                <button ion-button block round *ngIf="!loading" (tap)="confirmPhone()" >{{verifyText}}</button>
            </ion-col>
        </ion-row>

    </ion-list>


</ion-content>
