
<ion-content padding>



    <div align="center">
        <!-- <img style="height: 150px;" src="assets/images/profile.png"> -->
        <p>Sylvia Laundry</p>
    </div>


    <ion-list padding>

        <ion-item >
            <ion-label stacked>Username<span class="errorText" *ngIf="usernameError">{{usernameError}}</span></ion-label>
            <ion-input [(ngModel)]="username" (ionFocus)="showToast('username',usernameTip)" (ionBlur)="blur()" placeholder="Enter your username" type="text"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'username'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Firstname<span class="errorText" *ngIf="fnameError">{{fnameError}}</span></ion-label>
            <ion-input [(ngModel)]="fname" (ionFocus)="showToast('fname',fnameTip)" (ionBlur)="blur()" placeholder="Enter your firstname" pattern="[a-zA-Z\\s]+" type="text"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'fname'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Surname<span class="errorText" *ngIf="snameError">{{snameError}}</span></ion-label>
            <ion-input [(ngModel)]="sname" (ionFocus)="showToast('sname',snameTip)" (ionBlur)="blur()" placeholder="Enter your surname" pattern="[a-zA-Z\\s]+" type="text"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'sname'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Email<span class="errorText" *ngIf="emailError">{{emailError}}</span></ion-label>
            <ion-input [(ngModel)]="email" (ionFocus)="showToast('email',emailTip)" (ionBlur)="blur()" placeholder="Enter your email" type="email"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'email'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Phone<span class="errorText" *ngIf="phoneError">{{phoneError}}</span></ion-label>
            <ion-input [(ngModel)]="phone" (ionFocus)="showToast('phone',phoneTip)" (ionBlur)="blur()" placeholder="Enter your phone number" pattern="[0-9]+" type="text" pattern="[+]{0,1}[0-9]+"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'phone'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="gender">
                <ion-option >Female</ion-option>
                <ion-option selected >Male</ion-option>
                <ion-option >Other</ion-option>
            </ion-select>
        </ion-item>

        <ion-item >
            <ion-label stacked>Referred By (*Optional)</ion-label>
            <ion-input [(ngModel)]="referredBy" (ionFocus)="showToast('referral',referralTip)" (ionBlur)="blur()" placeholder="Enter referral code" type="text" ></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'referral'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Password</ion-label>
            <ion-input [(ngModel)]="password" (ionFocus)="showToast('password',passwordTip)" (ionBlur)="blur()" placeholder="Enter your password" type="password"></ion-input>
        </ion-item>
        <p *ngIf="currentFocus == 'password'" align="center" class="slideDown description">
            {{currentTip}}
        </p>

        <ion-item >
            <ion-label stacked>Confirm password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" placeholder="Enter your password again" type="password"></ion-input>
        </ion-item>

        <span style="color:red; margin-left: 20px;font-size: 12px">{{passwordError}}</span>

        <ion-row>
            <ion-col col-12>
                <div align="center" *ngIf="loading">
                    <ion-spinner ></ion-spinner>
                </div>
                <button ion-button block round *ngIf="loading" (click)="signUp()" disabled >Signing Up</button>
                <button ion-button block round *ngIf="!loading" (click)="signUp()" >Sign Up</button>
            </ion-col>
        </ion-row>

        <ion-col col-12>
            <div align="center"><ion-note>Already have an account?</ion-note></div>
            <div align="center" ><a (click)="signIn()">Sign In</a></div>
        </ion-col>

        <!-- <ion-col col-6 offset-2 style="bottom: 0;position: fixed;">
            <div align="center"><ion-note>Having issues?</ion-note></div>
            <div align="center" ><a (click)="support()">Chat with us</a></div>
        </ion-col> -->



    </ion-list>


</ion-content>
