<!--
  Generated template for the SupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Support</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <iframe  src="https://tawk.to/chat/598736f0dbb01a218b4daf7c/default/?$_tawk_popout=true"
            style="margin-top: -50px;width: 100%;overflow:hidden;height: 105%; border:none;" (load)="dismissLoadingScreen()" ></iframe>

</ion-content>
