
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>SETTINGS - DROPSTER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <span *ngIf="error" class="error">{{error}}</span>
    <span *ngIf="message" class="success">{{message}}</span>

    <div align="center" style="margin-top: 50%" *ngIf="dailyPayouts === null">
        <p align="center" style="color:grey">Nothing to configure at this time.</p>
    </div>


    <ion-list *ngIf="dailyPayouts !== null">
        <ion-item>
            <ion-label>Daily Payouts</ion-label>
            <ion-toggle (ionChange)="changePayout()" [(ngModel)]="dailyPayouts"></ion-toggle>
        </ion-item>

    </ion-list>

</ion-content>
