

<ion-content>

    <ion-searchbar id="input" (ionInput)="autoComplete()"></ion-searchbar>
    <div #map id="map" style="height:120% !important;width:100% !important;"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address" ></span> <br>
        <!--<span id="place-lat" ></span> <br>-->
        <!--<span id="place-lng" ></span> <br>-->
        <button ion-button block round (click)="confirm()" >Confirm Location</button>
    </div>

    <div id="currentLocationContent">
        <span class="title">Your Current Location</span><br>
        <span > {{lat}} </span> <br>
        <span > {{lng}} </span> <br>
        <button ion-button block round (click)="confirm()" >Confirm Location</button>

    </div>

    <ion-fab right bottom padding>
        <button (tap)="back()" ion-fab>X</button>
    </ion-fab>


</ion-content>
