<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>DROPPER HISTORY</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item *ngFor="let item of deliveries;" (tap)="details(item)">
        <ion-thumbnail item-start>
            <img *ngIf="item.images.length <= 0" src="assets/images/package.png">
            <img *ngIf="item.images.length > 0" src="{{item.images[0].url}}">
        </ion-thumbnail>
        <h2>To: {{item.fname}} {{item.sname}}</h2>
        <p style="font-size: 14px;font-weight: 500">Txn ID - #{{item.did}}</p>
        <p *ngIf="item.pickedUpAt">Picked Up on {{item.pickedUpAt}}</p>
        <p *ngIf="item.droppedOffAt">Dropped Off on {{item.droppedOffAt}}</p>
        <p style="color: darkgreen; font-size: 20px;font-weight: 500">NGN{{item.amount}}</p>
        <p>Requested on {{item.created_at}}</p>
        <p>Status: {{item.status}}</p>
        <button ion-button color="primary" item-end>
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-item>


</ion-content>
