<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

        <ion-item *ngIf="customerProvider.customer">
            <img style="width:auto;border-radius: 30px; height: 200px;" src="{{customerProvider.customer.image}}"> <br>
            Welcome {{customerProvider.customer.fname}} {{customerProvider.customer.sname}}<br>
        </ion-item>
        <button menuClose ion-item (click)="dashboard()">
            Dashboard
        </button>

        <ion-item-divider color="light">DELIVERIES</ion-item-divider>

        <button menuClose ion-item *ngFor="let d of deliveries" (click)="openPage(d)">
            {{d.title}}
        </button>

        <ion-item-divider color="light">PERSONAL</ion-item-divider>

        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
        </button>

        <div *ngIf="customerProvider.showDropperMenu">

            <ion-item-divider  color="light">DROPPERS</ion-item-divider>

            <button menuClose ion-item *ngFor="let dr of droppers" (click)="openPage(dr)">
                {{dr.title}}
            </button>

        </div>

        <div *ngIf="customerProvider.showVpMenu">
            <ion-item-divider color="light">VEHICLE PARTNERS</ion-item-divider>

            <button menuClose ion-item *ngFor="let vp of partners" (click)="openPage(vp)">
                {{vp.title}}
            </button>
        </div>
        <button menuClose ion-item (click)="logout()">
          Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>