// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background: #500D7E !important;
  border: none;
}

ion-content {
  background-color: #fff !important;
}

.toolbar-title, .back-button.bar-button, .bar-button-menutoggle {
  color: #fff !important;
}

.description{
  padding:10px;
  margin-left: 10px;
  width:100%;
  background-color: #404040;
  color:white;
}

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }

  75% {
    transform: translateY(4%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }

  75% {
    -webkit-transform: translateY(4%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

.success {
  color: white;
  margin-left: 20px;
  font-size: 12px;
  background-color: green;
  padding: 5px;
}

.error {
  color: white;
  margin-left: 20px;
  font-size: 12px;
  background-color: red;
  padding: 5px;
}

.errorText {
  color: darkred;
  font-size: 12px;
}
