<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-list>
        <ion-item *ngFor="let request of requests" (tap)="selectRequest(request)">
            Receiver - {{ request.fname}} {{ request.sname }}
        </ion-item>
    </ion-list>
</ion-content>
