<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>AFFILIATE - DROPSTER</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <div align="center" style="margin-top: 50%" *ngIf="!referred">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="referred && referred == 0">
        <p align="center" style="padding-top:45%;color:grey">You have referred {{referred.length}} customers</p>
    </div>

    <p *ngIf="referred > 0">List of referred customers</p>
    <div *ngFor="let customer of referred">
        Name: {{customer.fname}} {{customer.sname}}
        Date Referred : {{customer.created_at}}
    </div>

</ion-content>
