
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>DROPSTER - DELIVERIES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div>
        <ion-segment [(ngModel)]="type">
            <ion-segment-button value="outgoing" (tap)="outgoing()">
                OUTGOING
            </ion-segment-button>
            <ion-segment-button value="incoming" (tap)="incoming()">
                INCOMING
            </ion-segment-button>
        </ion-segment>
    </div>

    <div *ngIf="loading">
        <div align="center" style="margin-top: 50%">
            <ion-spinner></ion-spinner>
        </div>
    </div>


    <div [ngSwitch]="type">
        <ion-list *ngSwitchCase="'outgoing'">
            <div *ngIf="!loading && outgoingDeliveries.length == 0">
                <p align="center" style="padding-top:45%;color:grey">Nothing here yet. :) Request a delivery!</p>
            </div>

            <ion-item *ngFor="let item of outgoingDeliveries;" (tap)="details(item)">
                <ion-thumbnail item-start>
                    <img *ngIf="item.images.length <= 0" src="assets/images/package.png">
                    <img *ngIf="item.images.length > 0" src="{{item.images[0].url}}">
                </ion-thumbnail>
                <h2>To: {{item.fname}} {{item.sname}}</h2>
                <p style="font-size: 14px;font-weight: 500">Txn ID - #{{item.did}}</p>
                <p *ngIf="item.pickedUpAt">Picked Up on {{item.pickedUpAt}}</p>
                <p *ngIf="item.droppedOffAt">Dropped Off on {{item.droppedOffAt}}</p>
                <p style="color: darkgreen; font-size: 20px;font-weight: 500">NGN{{item.amount}}</p>
                <p>Requested on {{item.created_at}}</p>
                <p>Status:
                    <span *ngIf="item.status == 'Available'" style="background-color: dodgerblue; color:white; padding: 5px;border-radius: 5px;">{{item.status}}</span>
                    <span *ngIf="item.status == 'Pending' && item.droppedOffAt === null" style="background-color: darkorange; color:white; padding: 5px;border-radius: 5px;">{{item.status}}</span>
                    <span *ngIf="item.status == 'Pending' && item.droppedOffAt !== null" style="background-color: darkorange; color:white; padding: 5px;border-radius: 5px;">Awaiting Completion.</span>
                    <span *ngIf="item.status == 'Complete'" style="background-color: green; color:white; padding: 5px;border-radius: 5px;">{{item.status}}</span>
                    <span *ngIf="item.status == 'Issue'" style="background-color: red; color:white; padding: 5px;border-radius: 5px;">{{item.status}}</span>
                    <span *ngIf="item.status == 'Cancelled'" style="background-color: saddlebrown; color:white; padding: 5px;border-radius: 5px;">{{item.status}}</span>
                </p>
                <button ion-button color="primary" item-end>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'incoming'">
            <div *ngIf="!loading && incomingDeliveries.length == 0">
                <p align="center" style="padding-top:45%;color:grey">Nothing here yet. :) Request a delivery!</p>
            </div>

            <ion-item *ngFor="let item of incomingDeliveries;" (tap)="details(item)">
                <ion-thumbnail item-start>
                    <img *ngIf="item.images.length <= 0" src="assets/images/package.png">
                    <img *ngIf="item.images.length > 0" src="{{item.images[0].url}}">
                </ion-thumbnail>
                <h2>To: {{item.fname}} {{item.sname}}</h2>
                <p style="font-size: 14px;font-weight: 500">Txn ID - #{{item.did}}</p>
                <p *ngIf="item.pickedUpAt">Picked Up on {{item.pickedUpAt}}</p>
                <p *ngIf="item.droppedOffAt">Dropped Off on {{item.droppedOffAt}}</p>
                <p style="color: darkgreen; font-size: 20px;font-weight: 500">NGN{{item.amount}}</p>
                <p>Requested on {{item.created_at}}</p>
                <p>Status: {{item.status}}</p>
                <button ion-button color="primary" item-end>
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-item>

        </ion-list>
    </div>

</ion-content>
