
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>WITHDRAWALS - DROPSTER</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div align="center" style="margin-top: 50%" *ngIf="!withdrawals">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list>
        <p ion-item *ngFor="let withdrawal of withdrawals">
            Bank : {{withdrawal.accountBank}} <br>
            Account Name : {{withdrawal.accountName}} <br>
            Account Number : {{withdrawal.accountNumber}} <br>
            Amount : {{withdrawal.amount}} <br>
            Date : {{withdrawal.created_at}}

        </p>
    </ion-list>


</ion-content>
